@model OATools.ViewModel.SlogansViewModel
@{
    ViewBag.Title = "Slogans";
}

<h2>Slogans</h2>

<h4>Add a Slogan</h4>
<p>Think of a slogan that you don't see here? Submit it to be added to the slogan collection!</p>
<button class="btn btn-secondary" data-toggle="modal" data-target="#sloganForm">Add a Slogan</button>

@* Modal *@
<div class="modal" id="sloganForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p><strong>Please skim through the complete slogan table first to ensure a variation of your slogan isn't already a part of the collection.</strong></p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("AddSlogan", "Home"))
            {
                <div class="modal-body">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Slogan.SloganText)
                        @Html.TextBoxFor(m => m.Slogan.SloganText)
                        @Html.ValidationMessageFor(m => m.Slogan.SloganText, "", new { @style = "color:red" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Slogan.AffiliatedProgram)
                        @Html.TextBoxFor(m => m.Slogan.AffiliatedProgram)
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Submit Slogan</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            }
        </div>
    </div>
</div>

@* Table *@
<table id="sloganTable" class="table table-hover table-striped">
    <thead>
        <tr>
            <th scope="col" class="sorting:after">Slogan</th>
            <th scope="col">Affiliated Program</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var slogan in Model.Slogans)
        {
            <tr>
                <td>@slogan.SloganText</td>
                <td>@slogan.AffiliatedProgram</td>
            </tr>
        }
    </tbody>
</table>

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            $('#sloganTable').DataTable();
        })
    </script>
}
